# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.


VOCtest_06-Nov-2007.tar
VOCtrainval_06-Nov-2007.tar
VOCtrainval_11-May-2012.tar
checkpoint/yolov3_coco.ckpt
checkpoint/yolov3_coco.ckpt.data-00000-of-00001
checkpoint/yolov3_coco.ckpt.index
checkpoint/yolov3_coco.ckpt.meta
checkpoint/yolov3_coco.tar.gz
checkpoint/yolov3_coco_demo.ckpt.data-00000-of-00001
checkpoint/yolov3_coco_demo.ckpt.index
checkpoint/yolov3_coco_demo.ckpt.meta
yolov3_coco.pb
trash/
